
<div class="row d-flex justify-content-center">
<div class="col-10">

  <app-card title="Editar Cliente">

    <div card-body-content>

      <div class="wizard-navigation">
        <ul class="nav nav-pills d-flex justify-content-around">
          <li class="nav-item">
            <a class="nav-link"  
              [ngClass]="{'active': steps.datosPersonalesActivo}">
              Datos Personales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              [ngClass]="{'active': steps.datosLaboralesActivo}">
              Datos Laborales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              [ngClass]="{'active': steps.resumen}">
              Resumen
            </a>
          </li>
        </ul>
      </div>


    <form [formGroup]="nuevoClienteForm">
      <app-datos-personales-edit [parentForm]="nuevoClienteForm"
                            *ngIf="steps.datosPersonalesActivo"
                            (siguiente)="DatosLaborales()"></app-datos-personales-edit>
      
      <app-datos-laborales-edit [parentForm]="nuevoClienteForm"
                            *ngIf="steps.datosLaboralesActivo"
                            (anterior)="DatosPersonales()"
                            (siguiente)="Resumen()"></app-datos-laborales-edit>

      <app-resumen-edit [parentForm]="nuevoClienteForm"
                            *ngIf="steps.resumen"
                            (anterior)="DatosLaborales()"
                            (siguiente)="Guardar()"></app-resumen-edit>
    </form>
    
  </div>

  </app-card>
</div>

</div>