<app-card title="Clientes">
  <div card-header-buttons>
      <button class="btn btn-success btn-link"
              style="color: white"
              [routerLink]="['..','nuevo-cliente']">
          <span class="btn-label">
            <i class="material-icons">add</i>
          </span>
          Nuevo
        <div class="ripple-container"></div></button>
  </div>
  <div *ngIf="clientes$ | async as clientes; else empty">
    <div class="table-responsive table-hover">
      <table class="table">
        <thead class=" text-primary">
          <tr><th>
            ID
          </th>
          <th>
            Nombre
          </th>
          <th>
            Apellido
          </th>
          <th>
            Domicilio
          </th>
          <th>
          </th>
        </tr></thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>
              {{cliente.ID}}
            </td>
            <td>
              {{cliente.Nombre}}
            </td>
            <td>
              {{cliente.Apellido}}
            </td>
            <td>
              Oud-Turnhout
            </td>
            <td class="td-actions text-right">
              <button type="button btn-primary" rel="tooltip" class="btn btn-info btn-round" (click)="previewClient(cliente.ID)">
                <i class="material-icons">visibility</i>
                <div class="ripple-container"></div></button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-footer-pager pageName="PageCliente" take="5"></app-footer-pager>

    </div>
  </div>
  <ng-template #empty>
    <app-empty-state image="add-content" title="No hay clientes por aquí"></app-empty-state>
  </ng-template>
</app-card>
<app-preview-modal *ngIf="showModal"
                   title="Cliente"
                   [data]="modalModel"
                   (toClose)="closeModal()"
                   (toEdit)="editar()"></app-preview-modal>