<!-- <div class="form-group">

</div> -->
<div class="form-group" controlErrorContainer>

       <input type="text" 
              class="form-control" 
              [id]="name" 
              [(ngModel)]="value" 
              [disabled]="disabled"
              [readonly]="readonly"
              autocomplete="off"
              (blur)="onBlur()"
              (ngModelChange)="onModelChange($event)">
       <label [for]="name" 
              class="form-control-placeholder">{{label}}</label>
</div>