
<div class="card">
    <div class="card-header card-header-tabs card-header-success">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="card-title" *ngIf="title">{{title}}</h4>
        <ng-content select="div[card-header-buttons]"></ng-content>
        
      </div>
    <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ng-content select="div[card-header-menu]"></ng-content>
          </div>
        </div>
      </div>
  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>